<table>
  <thead>
    <tr>
      <th width="50%">File Name</th>
      <th class="right_column" width ="50%">Edit</th>
      <th class="right_column" width="50%">Delete</th>
    </tr>
    </thead>
    <tbody>
      <% @post.each do |x| %>
        <tr>
          <td>
            <a href="http://www.codeandpen.com/uploads/<%= x.body %>"><%= x.title %></a>
          </td>
	  <td class="right_column" > 
	    <a href="/edit/<%= x.id %>" class="button small" >Edit</a>
    </td>
    <td class="right_column" >
	    <a href="/delete/<%= x.id %>" class="button small">Delete</a>
    </td>
        <% end %>
      </tr>	
   </tbody>	
</table>


<table>
	<thead>
	  <tr>
	    <th width="50%">Full name</th>
	    <th width="25%" class="right_column" >Edit</th>
            <th width="25%" class="right_column">Delete</th>
    </tr>
 </thead>
 <tbody>
	 <% @user.each do |x| %>
		 <tr>
			 <td><%= x.first_name %> <%= x.last_name %> </td>
			 <td class="right_column" >
				 <a href="/user/edit/<%= x.id %>" class="button small"  >Edit</a></td>
			 <td class="right_column">
				 <a href="/delete/user/<%= x.id %>" class="button small" ></a>
			 </td>
		 </tr>
	 <% end %>
 </tbody>
 </table>
