<h1>Asset Pipeline Generator</h1> 

<a class="pull right" href="/logout"> &lt;----Logout</a>
<a class="pull right" href="/"> &lt;----Main Site</a>

<div id="messages">
<% if flash[:title] || flash[:body] %>
  <p>You messed up goon you need a title and an image. <span>&marker;</span> </p>
<% else %>
  <p>Hello <%= session[:username] %>, how can I help you today, bitch.<span>&marker;</span> </p>
<% end %>
</div>
<hr />

<form method="post" action="/upload" enctype="multipart/form-data"  >
  <label>Name:</label>
  <input type="text" id="title" name="title"/> 
  <label>File:</label>
  <input type="file" id="body" name="body" />
  <input type="submit" class="button" >
</form>

<h1>Assets Visualizer</h1>
<hr/> 
<% if(session[:user_type] == "copy") %>
  <%= erb :copy_main %>
<% end %>

<% if(session[:user_type] == "art") %>
  <%= erb :art_main %>
<% end %>

<% if(session[:user_type] == "ceo") %>      
  <%= erb :ceo_main %>
<% end %>

<% if(session[:user_type] == "tech") %>
  <%= erb :ceo_main %>
<% end %>

<% if(session[:user_type] == "default") %>
  <p>The boss hasn't verified your employment yet.</p>
<% end %>
